@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-move {
  display: inline-block;
  white-space: nowrap;
  animation: move 10s linear infinite;
}
